body {	
    /* background-image:url("/static/album/images/background-photo.jpg"); */
    background-color:black;
}

.userprofile{	
    background:white url("/static/album/images/light+grey+background.jpg");
}

.content {
    margin-left: 50px;
    margin-right: 100px;
}

h1, h2, h3, h4,h5,h6 {
   font-family:'Times New Roman', Times, serif;
}

.header {
	text-align: center;
	background-color: red;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

