{% extends 'album/base.html' %}

{% block body %}
<div class="container">
	<tbody class=" table table-striped">
	<tr>
		<h1><strong>User Profile</strong></h1>
		<td><h3><strong>Username:</strong> {{ user.username }}</h3></td>
		<td><h3><strong>First Name:</strong> {{ user.first_name }}</h3></td>
		<td><h3><strong>Last Name:</strong> {{ user.last_name }}</h3></td>
		<td><h3><strong>Email:</strong> {{ user.email }}</h3></td>
    </tr>
    </tbody>
    <a href="{% url 'album:edituserprofile' %}"><button class="btn btn-success"> Edit </button></a>
</div>
{% endblock %}