{% extends 'album/base.html' %}
{% load static %}

{% block javascript %}
<script src="{% static 'album/js/album.js' %}"></script> 
{% endblock %}

{% block body %}
<p>
  <a type="buttton" style="font-weight:bold;font-size:large;" class="col-md-12 col-xs-12 btn btn-danger" href="{% url 'album:contact_add' %}">
    <span class="glyphicon glyphicon-plus"></span>
    Add contact
  </a>
</p>

<div id="contact">
  <p class="new_album">
  {% include 'album/partial-album.html' %}
  </p>
</div>
 <!-- BOOTSTRAP MODAL -->

<div class="modal fade" id="modal-contact">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- pagination -->
<div class="container">
  <div class="col-md-offset-6 col-md-6">
    {% if  contacts.has_other_pages %}
      <ul class="pagination">
        {% if contacts.has_previous %}
          <li><a href="?page={{contacts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in contacts.paginator.page_range %}
          {% if contacts.number == i %}
            <li class="active" style="background-color: red"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
          <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
