<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}ProLify{% endblock %}</title>
    {% load static %}	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/album/css/style.css' %}"/>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>

<div class="header">
    <div class="container-fluid">
    	<h1 style="color:white"> ProLifY </h1>
    </div>
</div>

<nav class="navbar navbar-inverse " style="margin-bottom:0px">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
	    	    <span class="icon-bar"></span>	
	    	    <span class="icon-bar"></span>	
	    	    <span class="icon-bar"></span>	
	    	</button>
	    </div>

	    <!--items-->
	    <div class="collapse navbar-collapse" id="topNavBar">
		    {% if user.is_authenticated %}
		    <ul class="nav navbar-nav">
			    <li class="nav-item {{ home_page }}">
			        <a class="nav-link" href="{% url 'album:home' %}">
					  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
				    </a>
			    </li>
			    <li class="nav-item {{ album_page }}">
			        <a class="nav-link" href="{% url 'album:album' %}">
					  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp; Album
				    </a>
			    </li>
			    <li class="nav-item {{ contact_page }}">
				    <a class="nav-link" href="{% url 'album:contact' %}">
					  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Contacts
					</a>
		        </li>
			    <li class="nav-item {{ profile_add_page }}">
				    <a class="nav-link" href="{% url 'album:profile_add' %}">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Contact
					</a>
		        </li>
		    </ul>
      
		    <form class="navbar-form navbar-left" action="{% url 'album:search' %}" method="GET" value="{{request.GET.q}}" pk=contact.pk > 
			    <div class="input-group">
			        <input type="text" name="q" class="form-control" placeholder="Search..." value="{{request.GET.q}}" pk=contact.pk/>
			        <div class="input-group-btn">
			          <button class="btn btn-danger" type="submit" value="search" pk=contact.pk>
			            <span class="glyphicon glyphicon-search"></span>&nbsp;
			          </button>
			        </div>
			    </div>
			</form>
		    
	        <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			       	    <li class="nav-item {{ userprofile_page }}">
						    <a class="nav-link" href="{% url 'album:userprofile' %}">
							  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;My Profile
							</a>
				        </li>
						<li>
						    <a href="{% url 'logout' %}">
							  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
			{% url 'login' as login %}
				 <li class="nav-item {{ home_page }}">
			        <a class="nav-link"  href="{% url 'album:home' %}">
					  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
				    </a>
			    </li>
				<li {% if request.path == login %} class="active" {% endif %}>
				    <a href="{% url 'login' %}">
					  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Login
					</a>
				</li>
				<li class="nav-item {{ register_page }}">
				    <a class="nav-link" href="{% url 'album:register' %}">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Signup
					</a>
				</li>
	        </ul>
	        {% endif %}
	    </div>
    </div>
</nav>
{% block head %}
{% endblock %}

{% block body %}
{% endblock %}
</body>
</html>