{% extends 'album/base.html' %}
{% block title %}contact list{% endblock %}

{% block body %}
 <div class="container">
 	<div class="row">
 		<div class="panel panel-default">
			<div class="panel-body">
				<h3><strong>Total Contacts:</strong> {{ profile_list.count}} </h3>
		        {% for profile in profile_list %}
		 		<ul>
		 		   <a href="{% url 'album:profile_detail' pk=profile.pk %}"><li><h4 style="color:black">{{ profile.full_name}}</h4></li></a>
		 		</ul>
		 		{% endfor %}
		 	</div>
		</div>		
 	</div>
 </div>
{% endblock %}