{% extends 'album/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Contact{% endblock %}
{% block albums_active %}active{% endblock %}


{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default" style="margin-top: 10px">
				<div class="panel-body">
					<div class="col-md-offset-1 col-md-10">
					<h3 style="font-weight: bolder;">Add A New Contact</h3>
					<form class="form-horizontal" action=""  method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form|crispy }}
						<div class="col-xs-12 col-md-12">
							<a href="{% url 'album:album' %}" style="color:black;font-weight:bold;" class="btn btn-warning col-xs-6 col-md-6">cancel</a>
							<button type="submit" style="color:black;font-weight:bold;" class="btn btn-danger col-xm-6 col-md-6" id="create">Save</button>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}  
