{% extends 'album/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Contact{% endblock %}
{% block albums_active %}active{% endblock %}


{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default" style="margin-top: 10px">
				<div class="panel-body">
					<div class="col-md-offset-1 col-md-10">
					<h3>Add A New Contact</h3>
					<form class="form-horizontal" action=""  method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form|crispy }}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-danger" id="create">Save</button>
							</div>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}  


{% block js %}
<script src="/static/album/js/album.js/"></script> 
{% endblock %}